<div class="" style="max-width: 1440px; margin: 0 auto;">
  <div style="display: flex;">
    <div style="width: 50%;">
      <img src="{{ 'testimonial-1.png' | asset_url }}" style="width: 100%; display: block;" />
    </div>
    <div style="width: 50%; background-color: #F8F7F5;">
      fjskdhfkjshfklsj
    </div>
  </div>
</div>