<div class="" style="max-width: 1440px; margin: 0 auto;">
  <div style="display: flex;">
    <div style="width: 50%;">
      <img src="{{ 'testimonial-1.png' | asset_url }}" style="width: 100%; display: block;" />
    </div>
    <div style="width: 50%; background-color: #F8F7F5;">
      <div style="display: flex;">
        <svg fill="none" height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m9.27385.00000023c.4434-.00129144 2.46125 5.41305977 2.82095 5.67263977.3594.25958 6.1339.47073 6.2721.89217.1384.42144-4.3875 4.01359-4.5233 4.43569-.1358.422 1.4477 5.9791 1.0898 6.2408-.358.2618-5.17289-2.9324-5.6165-2.9311-.44339.0013-5.23893 3.2245-5.59859 2.9649-.35967-.2596 1.19049-5.8259 1.05209-6.2473s-4.6857655-3.98624-4.549949-4.40832c.135816-.42209 5.908539-.66811 6.266699-.92984.35816-.26194 2.34331-5.68834833 2.7867-5.68963977z" fill="#907649" fill-rule="evenodd"/></svg>
        <svg fill="none" height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m9.27385.00000023c.4434-.00129144 2.46125 5.41305977 2.82095 5.67263977.3594.25958 6.1339.47073 6.2721.89217.1384.42144-4.3875 4.01359-4.5233 4.43569-.1358.422 1.4477 5.9791 1.0898 6.2408-.358.2618-5.17289-2.9324-5.6165-2.9311-.44339.0013-5.23893 3.2245-5.59859 2.9649-.35967-.2596 1.19049-5.8259 1.05209-6.2473s-4.6857655-3.98624-4.549949-4.40832c.135816-.42209 5.908539-.66811 6.266699-.92984.35816-.26194 2.34331-5.68834833 2.7867-5.68963977z" fill="#907649" fill-rule="evenodd"/></svg>
        <svg fill="none" height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m9.27385.00000023c.4434-.00129144 2.46125 5.41305977 2.82095 5.67263977.3594.25958 6.1339.47073 6.2721.89217.1384.42144-4.3875 4.01359-4.5233 4.43569-.1358.422 1.4477 5.9791 1.0898 6.2408-.358.2618-5.17289-2.9324-5.6165-2.9311-.44339.0013-5.23893 3.2245-5.59859 2.9649-.35967-.2596 1.19049-5.8259 1.05209-6.2473s-4.6857655-3.98624-4.549949-4.40832c.135816-.42209 5.908539-.66811 6.266699-.92984.35816-.26194 2.34331-5.68834833 2.7867-5.68963977z" fill="#907649" fill-rule="evenodd"/></svg>
        <svg fill="none" height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m9.27385.00000023c.4434-.00129144 2.46125 5.41305977 2.82095 5.67263977.3594.25958 6.1339.47073 6.2721.89217.1384.42144-4.3875 4.01359-4.5233 4.43569-.1358.422 1.4477 5.9791 1.0898 6.2408-.358.2618-5.17289-2.9324-5.6165-2.9311-.44339.0013-5.23893 3.2245-5.59859 2.9649-.35967-.2596 1.19049-5.8259 1.05209-6.2473s-4.6857655-3.98624-4.549949-4.40832c.135816-.42209 5.908539-.66811 6.266699-.92984.35816-.26194 2.34331-5.68834833 2.7867-5.68963977z" fill="#907649" fill-rule="evenodd"/></svg>
        <svg fill="none" height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m9.27385.00000023c.4434-.00129144 2.46125 5.41305977 2.82095 5.67263977.3594.25958 6.1339.47073 6.2721.89217.1384.42144-4.3875 4.01359-4.5233 4.43569-.1358.422 1.4477 5.9791 1.0898 6.2408-.358.2618-5.17289-2.9324-5.6165-2.9311-.44339.0013-5.23893 3.2245-5.59859 2.9649-.35967-.2596 1.19049-5.8259 1.05209-6.2473s-4.6857655-3.98624-4.549949-4.40832c.135816-.42209 5.908539-.66811 6.266699-.92984.35816-.26194 2.34331-5.68834833 2.7867-5.68963977z" fill="#907649" fill-rule="evenodd"/></svg>
      </div>
      <div>
        “Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia”.
      </div>
      <p style="text-transform: uppercase;">
        margareth
      </p>
    </div>
  </div>
</div>