<div class="testimonial--customer">
  <div class="testimonial--wrapper">
    <div class="testimonial--image-container">
      <img src="{{ 'testimonial-1.png' | asset_url }}" class="testimonial--image" />
    </div>
    <div class="testimonial--quote-container">
      <div class="testimonial--heading-container">
        <h2 class="testimonial--heading">
          <span class="testimonial--span">Customer Reviews</span>
        </h2>
      </div>
      <div>
        <div class="testimonial--stars">
          <svg fill="none" height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m9.27385.00000023c.4434-.00129144 2.46125 5.41305977 2.82095 5.67263977.3594.25958 6.1339.47073 6.2721.89217.1384.42144-4.3875 4.01359-4.5233 4.43569-.1358.422 1.4477 5.9791 1.0898 6.2408-.358.2618-5.17289-2.9324-5.6165-2.9311-.44339.0013-5.23893 3.2245-5.59859 2.9649-.35967-.2596 1.19049-5.8259 1.05209-6.2473s-4.6857655-3.98624-4.549949-4.40832c.135816-.42209 5.908539-.66811 6.266699-.92984.35816-.26194 2.34331-5.68834833 2.7867-5.68963977z" fill="#907649" fill-rule="evenodd"/></svg>
          <svg fill="none" height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m9.27385.00000023c.4434-.00129144 2.46125 5.41305977 2.82095 5.67263977.3594.25958 6.1339.47073 6.2721.89217.1384.42144-4.3875 4.01359-4.5233 4.43569-.1358.422 1.4477 5.9791 1.0898 6.2408-.358.2618-5.17289-2.9324-5.6165-2.9311-.44339.0013-5.23893 3.2245-5.59859 2.9649-.35967-.2596 1.19049-5.8259 1.05209-6.2473s-4.6857655-3.98624-4.549949-4.40832c.135816-.42209 5.908539-.66811 6.266699-.92984.35816-.26194 2.34331-5.68834833 2.7867-5.68963977z" fill="#907649" fill-rule="evenodd"/></svg>
          <svg fill="none" height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m9.27385.00000023c.4434-.00129144 2.46125 5.41305977 2.82095 5.67263977.3594.25958 6.1339.47073 6.2721.89217.1384.42144-4.3875 4.01359-4.5233 4.43569-.1358.422 1.4477 5.9791 1.0898 6.2408-.358.2618-5.17289-2.9324-5.6165-2.9311-.44339.0013-5.23893 3.2245-5.59859 2.9649-.35967-.2596 1.19049-5.8259 1.05209-6.2473s-4.6857655-3.98624-4.549949-4.40832c.135816-.42209 5.908539-.66811 6.266699-.92984.35816-.26194 2.34331-5.68834833 2.7867-5.68963977z" fill="#907649" fill-rule="evenodd"/></svg>
          <svg fill="none" height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m9.27385.00000023c.4434-.00129144 2.46125 5.41305977 2.82095 5.67263977.3594.25958 6.1339.47073 6.2721.89217.1384.42144-4.3875 4.01359-4.5233 4.43569-.1358.422 1.4477 5.9791 1.0898 6.2408-.358.2618-5.17289-2.9324-5.6165-2.9311-.44339.0013-5.23893 3.2245-5.59859 2.9649-.35967-.2596 1.19049-5.8259 1.05209-6.2473s-4.6857655-3.98624-4.549949-4.40832c.135816-.42209 5.908539-.66811 6.266699-.92984.35816-.26194 2.34331-5.68834833 2.7867-5.68963977z" fill="#907649" fill-rule="evenodd"/></svg>
          <svg fill="none" height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m9.27385.00000023c.4434-.00129144 2.46125 5.41305977 2.82095 5.67263977.3594.25958 6.1339.47073 6.2721.89217.1384.42144-4.3875 4.01359-4.5233 4.43569-.1358.422 1.4477 5.9791 1.0898 6.2408-.358.2618-5.17289-2.9324-5.6165-2.9311-.44339.0013-5.23893 3.2245-5.59859 2.9649-.35967-.2596 1.19049-5.8259 1.05209-6.2473s-4.6857655-3.98624-4.549949-4.40832c.135816-.42209 5.908539-.66811 6.266699-.92984.35816-.26194 2.34331-5.68834833 2.7867-5.68963977z" fill="#907649" fill-rule="evenodd"/></svg>
        </div>
        <div class="testimonial--quote">
          “Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia”.
        </div>
        <p class="testimonial--attribute">
          margareth
        </p>
      </div>
    </div>
  </div>
</div>

{% style %}
  .testimonial--span {
    position: relative;
  }
  .testimonial--span:after {
    content: '';
    width: 150px;
    border-bottom: solid 1px black;
    position: absolute;
    left: 110%;
    top: 50%;
    z-index: 1;
  }
  .testimonial--customer {
    max-width: 1440px;
     margin: 0 auto;
  }
  .testimonial--wrapper {
    display: flex;
  }
  .testimonial--image-container {
    width: 50%;
  }
  .testimonial--image {
    width: 100%;
    display: block;
  }
  .testimonial--quote-container {
    width: 50%;
    background-color: #F8F7F5;
    padding: 75px;
  }
  .testimonial--heading {
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 125px;
  }
  .testimonial--star {
    display: flex;
    margin-bottom: 20px;
  }
  .testimonial--quote {
    color: black;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .testimonial--attribute {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    color: black;
  }
{% endstyle %}